/* line 4, /home/ubuntu/workspace/books/app/assets/stylesheets/author.scss */
body {
  background: #eadede;
  color: black;
}

/* line 9, /home/ubuntu/workspace/books/app/assets/stylesheets/author.scss */
h1 {
  color: #d9534f;
}
